{% extends 'base/base.html' %}
{% load static costum_tags%}
{% block content %}
<!-- Hero Section Start -->
<section class="hero-section rel z-1 pt-150 rpt-135 pb-75 rpb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="hero-content rpt-25 rmb-75">
                    <span class="sub-title style-two mb-20 wow fadeInUp delay-0-2s">{{banner.lil_title}}</span>
                    <h1 class="mb-20 wow fadeInUp delay-0-4s">{{banner.title}}</h1>
                    <p class="wow fadeInUp delay-0-6s">{{banner.content|first_upper}}</p>
                    <div class="hero-btn mt-30 wow fadeInUp delay-0-8s">
                        <a href="course-grid.html" class="theme-btn">{{banner.link_content}}<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hero-right-images text-lg-right wow fadeInUp delay-0-2s">
                    <img src="{% static 'core/images/hero/hero-right.png'%}" alt="Hero">
                </div>
            </div>
        </div>
    </div>
    <span class="bg-text">coach</span>
</section>
<!-- Hero Section End -->


<!-- Features Section Start -->
<section class="features-section rel z-1 pt-80 pb-40 bg-blue text-white">
    <div class="container">
        <div class="row justify-content-center">
            {% for item in below_banners %}
            <div class="col-lg-4 col-md-6">
                <div class="feature-item wow fadeInUp delay-0-2s">
                    <div class="image">
                        <img src="{{item.image.url}}" alt="Icon">
                    </div>
                    <div class="content">
                        <h4>{{item.title}}</h4>
                        <p>{{item.content}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
    <img class="rectangle-dots" src="{% static 'core/images/shapes/rectangle-dots.png'%}" alt="Shape">
    <img class="circle-dots" src="{% static 'core/images/shapes/circle-dots.png'%}" alt="Shape">
</section>
<!-- Features Section End -->


<!-- About Section Start -->
<section class="about-section pt-130 rpt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-end">
                <div class="about-man rmb-75 wow fadeInLeft delay-0-2s">
                    <img src="{{about.image.url}}" alt="Man">
                    <p>{{about.image}}</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-content rel z-2 pb-115 rpb-85 wow fadeInRight delay-0-2s">
                    <div class="section-title mb-40">
                        <span class="sub-title mb-25">{{about.title}}</span>
                        <h2>{{about.content}}</h2>
                    </div>
                    <div class="about-features">
                        <div class="row">

                            {% for point in about.points.all %}
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <div class="icon">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <div class="content">
                                        <h5>{{point.title}}</h5>
                                        <p>{{point.content}}</p>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                            <div class="about-btns">
                                <a href="{% url  'about' %}" class="theme-btn style-two my-15">Learn more us <i class="fas fa-arrow-right"></i></a>
                                <a href="faqs.html" class="read-more">How it works <i class="fas fa-arrow-right"></i></a>
                            </div> 
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->


{% comment %} <!-- Coach Section Start -->
<section class="coach-section rel z-1 pt-120 rpt-90 pb-100 rpb-70 bg-lighter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-8">
                <div class="section-title text-center mb-40">
                    <h2>Best Solutions For Life Coach Solutions</h2>
                </div>
            </div>
        </div>
        <ul class="coach-filter mb-35">
            <li data-filter="*" class="current">Show All</li>
            <li data-filter=".design">Web Design</li>
            <li data-filter=".marketing">Marketing</li>
            <li data-filter=".development">Development</li>
            <li data-filter=".technology">IT & Technology</li>
            <li data-filter=".photography">Photography</li>
        </ul>
        <div class="row coach-active justify-content-center">
            <div class="col-lg-4 col-md-6 item marketing technology">
                <div class="coach-item wow fadeInUp delay-0-2s">
                    <div class="coach-image">
                        <a href="course-grid.html" class="category">Lifestyle</a>
                        <img src="{% static 'core/images/coachs/coach1.jpg'%}" alt="Coach">
                    </div>
                    <div class="coach-content">
                        <span class="label">Basic Coach</span>
                        <h4><a href="course-details.html">Learn How to Manage Your Lifestyle</a></h4>
                        <div class="ratting-price">
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>(3k)</span>
                            </div>
                            <span class="price">256.95</span>
                        </div>
                        <ul class="coach-footer">
                            <li><i class="far fa-file-alt"></i><span>12 Lessions</span></li>
                            <li><i class="far fa-user"></i><span>seats</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item design photography">
                <div class="coach-item wow fadeInUp delay-0-4s">
                    <div class="coach-image">
                        <a href="course-grid.html" class="category">Web Design</a>
                        <img src="{% static 'core/images/coachs/coach2.jpg'%}" alt="Coach">
                    </div>
                    <div class="coach-content">
                        <span class="label">HTML CSS</span>
                        <h4><a href="course-details.html">How to Learn Basic Web Design HTML</a></h4>
                        <div class="ratting-price">
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>(3k)</span>
                            </div>
                            <span class="price">256.95</span>
                        </div>
                        <ul class="coach-footer">
                            <li><i class="far fa-file-alt"></i><span>12 Lessions</span></li>
                            <li><i class="far fa-user"></i><span>seats</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item development photography">
                <div class="coach-item wow fadeInUp delay-0-6s">
                    <div class="coach-image">
                        <a href="course-grid.html" class="category">Development</a>
                        <img src="{% static 'core/images/coachs/coach3.jpg'%}" alt="Coach">
                    </div>
                    <div class="coach-content">
                        <span class="label">Advance</span>
                        <h4><a href="course-details.html">Learn How to Manage Your Lifestyle</a></h4>
                        <div class="ratting-price">
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>(3k)</span>
                            </div>
                            <span class="price">256.95</span>
                        </div>
                        <ul class="coach-footer">
                            <li><i class="far fa-file-alt"></i><span>12 Lessions</span></li>
                            <li><i class="far fa-user"></i><span>seats</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item design technology">
                <div class="coach-item wow fadeInUp delay-0-2s">
                    <div class="coach-image">
                        <a href="course-grid.html" class="category">Technology</a>
                        <img src="{% static 'core/images/coachs/coach4.jpg'%}" alt="Coach">
                    </div>
                    <div class="coach-content">
                        <span class="label">Basic Coach</span>
                        <h4><a href="course-details.html">Learn How to Manage Your Lifestyle</a></h4>
                        <div class="ratting-price">
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>(3k)</span>
                            </div>
                            <span class="price">256.95</span>
                        </div>
                        <ul class="coach-footer">
                            <li><i class="far fa-file-alt"></i><span>12 Lessions</span></li>
                            <li><i class="far fa-user"></i><span>seats</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item development photography">
                <div class="coach-item wow fadeInUp delay-0-4s">
                    <div class="coach-image">
                        <a href="course-grid.html" class="category">Photography</a>
                        <img src="{% static 'core/images/coachs/coach5.jpg'%}" alt="Coach">
                    </div>
                    <div class="coach-content">
                        <span class="label">Photography</span>
                        <h4><a href="course-details.html">Learn Photography and Video Editing Basic</a></h4>
                        <div class="ratting-price">
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>(3k)</span>
                            </div>
                            <span class="price">256.95</span>
                        </div>
                        <ul class="coach-footer">
                            <li><i class="far fa-file-alt"></i><span>12 Lessions</span></li>
                            <li><i class="far fa-user"></i><span>seats</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 item design technology">
                <div class="coach-item wow fadeInUp delay-0-6s">
                    <div class="coach-image">
                        <a href="course-grid.html" class="category">Marketing</a>
                        <img src="{% static 'core/images/coachs/coach6.jpg'%}" alt="Coach">
                    </div>
                    <div class="coach-content">
                        <span class="label">Basic Coach</span>
                        <h4><a href="course-details.html">Learn How to Manage Marketing Strategy</a></h4>
                        <div class="ratting-price">
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>(3k)</span>
                            </div>
                            <span class="price">256.95</span>
                        </div>
                        <ul class="coach-footer">
                            <li><i class="far fa-file-alt"></i><span>12 Lessions</span></li>
                            <li><i class="far fa-user"></i><span>seats</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Coach Section End --> {% endcomment %}


<!-- Work Process Section Start -->
<section class="work-process-section bg-white rel z-1 pt-130 rpt-100 pb-100 rpb-70">
    <div class="container">
        <div class="row justify-content-between align-items-center pb-30 wow fadeInUp delay-0-2s">
            <div class="col-xl-7 col-lg-8">
                <div class="section-title">
                    <span class="sub-title mb-15">{{howitworks.title}}</span>
                    <h2>{{howitworks.content}}</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slider-arrow-btns text-lg-right mt-10">
                    <button class="work-prev"><i class="fas fa-angle-left"></i></button>
                    <button class="work-next"><i class="fas fa-angle-right"></i></button>
                </div>
            </div>
        </div>
        <div class="work-step-wrap wow fadeInUp delay-0-4s">{% for item in howitworks.hiw_points.all  %}
            <div class="work-step-item">
                <span class="number">{{item.number}}</span>
                <div class="content">
                    <h4>{{item.title}}</h4>
                    <p>{{item.content}}</p>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
</section>
<!-- Work Process Section End -->


<!-- Newsletter Section Start -->
<section class="newsletter-section pb-130 rpb-100 wow fadeInUp delay-0-2s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="newsletter-video overlay">
                    <img src="{% static 'core/images/video/video-bg.jpg'%}" alt="Video">
                    <a href="https://www.youtube.com/watch?v=9Y7ma241N8k" class="mfp-iframe video-play"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="newsletter-content bg-lighter">
                    <div class="section-title mb-20">
                        <span class="sub-title mb-25">{{newsletters.title}}</span>
                        <h2>{{newsletters.content}}</h2>
                    </div>
                    <p>{{newsletters.description}}</p>
                    <form class="newsletter-form mt-25" action="#">

                        <div class="newsletter-radios mb-25">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="hero-wekly" name="example1" checked>
                                <label class="custom-control-label" for="hero-wekly">{{newsletters.button1}}</label>
                            </div> 
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="hero-monthly" name="example1">
                                <label class="custom-control-label" for="hero-monthly">{{newsletters.button2}}</label>
                            </div> 
                            
                        </div>

                        <div class="newsletter-email">
                            <label for="email"><i class="far fa-envelope"></i></label>
                            <input id="email" type="email" placeholder="Enter Email Address" required>
                            <button type="submit" class="theme-btn">{{newsletters.submit}} <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Section End -->


<!-- Events Section Start -->
<section class="events-section rel z-1 py-130 rpy-100 bg-blue text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9">
                <div class="section-title text-center mb-55">
                    <span class="sub-title mb-25">Events & Program</span>
                    <h2>We’reArranged Yearly Cultural Events & Program</h2>
                </div>
            </div>
        </div>
        <div class="event-wrap">
            <div class="event-item wow fadeInUp delay-0-2s">
                <div class="image">
                    <img src="{% static 'core/images/events/event1.jpg'%}" alt="Event">
                    <span class="date">25 march 2022</span>
                </div>
                <div class="content">
                    <h4>How Much Needs Life Coach For Human Beings</h4>
                    <span class="location"><i class="fas fa-map-marker-alt"></i> 55 Main Street, New York</span>
                </div>
            </div>
            <div class="event-item wow fadeInUp delay-0-4s">
                <div class="image">
                    <img src="{% static 'core/images/events/event2.jpg'%}" alt="Event">
                    <span class="date">25 march 2022</span>
                </div>
                <div class="content">
                    <h4>How Much Needs Life Coach For Human Beings</h4>
                    <span class="location"><i class="fas fa-map-marker-alt"></i> 55 Main Street, New York</span>
                </div>
            </div>
            <div class="event-item wow fadeInUp delay-0-6s">
                <div class="image">
                    <img src="{% static 'core/images/events/event3.jpg'%}" alt="Event">
                    <span class="date">25 march 2022</span>
                </div>
                <div class="content">
                    <h4>How Much Needs Life Coach For Human Beings</h4>
                    <span class="location"><i class="fas fa-map-marker-alt"></i> 55 Main Street, New York</span>
                </div>
            </div>
            <div class="event-item wow fadeInUp delay-0-2s">
                <div class="image">
                    <img src="{% static 'core/images/events/event1.jpg'%}" alt="Event">
                    <span class="date">25 march 2022</span>
                </div>
                <div class="content">
                    <h4>How Much Needs Life Coach For Human Beings</h4>
                    <span class="location"><i class="fas fa-map-marker-alt"></i> 55 Main Street, New York</span>
                </div>
            </div>
            <div class="event-item wow fadeInUp delay-0-4s">
                <div class="image">
                    <img src="{% static 'core/images/events/event2.jpg'%}" alt="Event">
                    <span class="date">25 march 2022</span>
                </div>
                <div class="content">
                    <h4>How Much Needs Life Coach For Human Beings</h4>
                    <span class="location"><i class="fas fa-map-marker-alt"></i> 55 Main Street, New York</span>
                </div>
            </div>
            <div class="event-item wow fadeInUp delay-0-6s">
                <div class="image">
                    <img src="{% static 'core/images/events/event3.jpg'%}" alt="Event">
                    <span class="date">25 march 2022</span>
                </div>
                <div class="content">
                    <h4>How Much Needs Life Coach For Human Beings</h4>
                    <span class="location"><i class="fas fa-map-marker-alt"></i> 55 Main Street, New York</span>
                </div>
            </div>
        </div>
    </div>
    <span class="bg-text">coach</span>
    <img class="rectangle-dots" src="{% static 'core/images/shapes/rectangle-dots.png'%}" alt="Shape">
    <img class="circle-dots" src="{% static 'core/images/shapes/circle-dots.png'%}" alt="Shape">
</section>
<!-- Events Section End -->


<!-- Testimonials Section Start -->
<section class="testimonials-section bg-white rel z-1 py-130 rpy-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5">
                <div class="testimonial-left-content rmb-65 wow fadeInLeft delay-0-2s">
                    <div class="section-title">
                        <span class="sub-title mb-15">Testimonials</span>
                        <h2>Happy Clients Say About Coach</h2>
                    </div>
                    <p>Quis autem veleum iure reprehenderit voluptate velit esse quam nihil molestiae consequatur vel illum dolore eum fugiat quo voluptas nulla pariatur</p>
                    <h4 class="partner-title mt-25 mb-15">We Have <span>1356+</span> Global Partners</h4>
                    <div class="partner-iamges-wrap">
                        <img src="{% static 'core/images/testimonials/partner1.jpg'%}" alt="Partner">
                        <img src="{% static 'core/images/testimonials/partner2.jpg'%}" alt="Partner">
                        <img src="{% static 'core/images/testimonials/partner3.jpg'%}" alt="Partner">
                        <img src="{% static 'core/images/testimonials/partner4.jpg'%}" alt="Partner">
                        <img src="{% static 'core/images/testimonials/partner5.jpg'%}" alt="Partner">
                        <img src="{% static 'core/images/testimonials/partner6.jpg'%}" alt="Partner">
                        <span class="plus">+</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-wrap wow fadeInRight delay-0-2s">
                    <div class="testimonial-item">
                        <div class="testimonial-author">
                            <img src="{% static 'core/images/testimonials/author.jpg'%}" alt="Author">
                        </div>
                        <div class="testimonial-content">
                            <div class="designation">
                                <h4>Justin C. Swanson</h4>
                                <span>Business Manager</span>
                            </div>
                            <p>Voluptatem accusantium doloremq udantium totam rem aperiam eaque quae abillo inventore veritatis et quasi architecto beatae Sed ut perspiciatis unde omnis iste natus error sit</p>
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-author">
                            <img src="{% static 'core/images/testimonials/author.jpg'%}" alt="Author">
                        </div>
                        <div class="testimonial-content">
                            <div class="designation">
                                <h4>Gerardo M. Jordan</h4>
                                <span>Business Manager</span>
                            </div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremq udantium totam rem aperiam eaque quae abillo inventore veritatis et quasi architecto beatae</p>
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-author">
                            <img src="{% static 'core/images/testimonials/author.jpg'%}" alt="Author">
                        </div>
                        <div class="testimonial-content">
                            <div class="designation">
                                <h4>Justin C. Swanson</h4>
                                <span>Business Manager</span>
                            </div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremq udantium totam rem aperiam eaque quae abillo inventore veritatis et quasi architecto beatae</p>
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-author">
                            <img src="{% static 'core/images/testimonials/author.jpg'%}" alt="Author">
                        </div>
                        <div class="testimonial-content">
                            <div class="designation">
                                <h4>Gerardo M. Jordan</h4>
                                <span>Business Manager</span>
                            </div>
                            <p>Voluptatem accusantium doloremq udantium totam rem aperiam eaque quae abillo inventore veritatis et quasi architecto beatae Sed ut perspiciatis unde omnis iste natus error sit</p>
                            <div class="ratting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->


<!-- Blog Section Start -->
<section class="blog-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-8">
                <div class="section-title text-center mb-55">
                    <span class="sub-title mb-20">News & Blog</span>
                    <h2>Read Some Store About News & Blog</h2>
                </div>
            </div>
        </div>   
        <div class="row"> 
         {% for  blog in blogs|slice:":3" %}
         {% if forloop.first %}
            <div class="col-lg-6">
                <div class="blog-item big-item wow fadeInUp delay-0-2s">
                    <div class="blog-image">
                        <img src="{{blog.blog_image.url}}" alt="Blog">
                    </div>
                    <div class="blog-content">
                        <span class="date"><span>{{blog.published_at|date:"d"}}</span>{{blog.published_at|date:"M"}}</span>
                        <div class="content">
                            <h4><a href="{% url 'blog_details' blog.slug %}">{{blog.title}}</a></h4>
                            <ul class="blog-meta">
                                <li><i class="far fa-user"></i> <a href="blog.html">{{ blogs_det.blog_author.get_full_name }}</a></li>
                                 
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% else %}
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="blog-item wow fadeInUp delay-0-4s">
                    <div class="blog-image">
                        
                    </div><img src="{{blog.blog_image.url}}" alt="Blog">
                    <div class="blog-content">
                        <span class="date"><span>{{blog.published_at|date:"d"}}</span> {{blog.published_at|date:"M"}}</span>
                        <div class="content">
                            <ul class="blog-meta">
                                <li><i class="far fa-user"></i> <a href="">{{author.last_name}}</a></li>
                                 
                            </ul>
                            <h5><a href="{% url 'blog_details' blog.slug %}">{{blog.title|truncatechars:25}}</a></h5>
                            <p>{{blog.content|truncatechars:30}}</p>
                            <a href="{% url 'blog_details' blog.slug %}" class="read-more">Read more <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
         {% endif %}
        {% endfor %}
        </div>
        <div class="blog-more-btn pt-30 text-center">
            <a href="{% url 'blogs' %}" class="theme-btn style-three">view more news <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</section>
<!-- Blog Section End -->


{% comment %} <!-- Logo Section Start -->
<div class="logo-section pt-130 rpt-100 pb-80 rpb-50">
    <div class="container">
        <div class="logo-inner">
            <div class="logo-item wow fadeInUp delay-0-1s">
                <a href="contact.html"><img src="{% static 'core/images/client-logos/client-logo1.png'%}" alt="Client Logo"></a>
            </div>
            <div class="logo-item wow fadeInUp delay-0-2s">
                <a href="contact.html"><img src="{% static 'core/images/client-logos/client-logo2.png'%}" alt="Client Logo"></a>
            </div>
            <div class="logo-item wow fadeInUp delay-0-3s">
                <a href="contact.html"><img src="{% static 'core/images/client-logos/client-logo3.png'%}" alt="Client Logo"></a>
            </div>
            <div class="logo-item wow fadeInUp delay-0-4s">
                <a href="contact.html"><img src="{% static 'core/images/client-logos/client-logo4.png'%}" alt="Client Logo"></a>
            </div>
            <div class="logo-item wow fadeInUp delay-0-5s">
                <a href="contact.html"><img src="{% static 'core/images/client-logos/client-logo5.png'%}" alt="Client Logo"></a>
            </div>
            <div class="logo-item wow fadeInUp delay-0-6s">
                <a href="contact.html"><img src="{% static 'core/images/client-logos/client-logo6.png'%}" alt="Client Logo"></a>
            </div>
        </div>
    </div>
</div>
<!-- Logo Section End --> {% endcomment %}

<br>
<br>

<!-- Instagram Section Start -->
<div class="instagram-section pb-120 rpb-90">
    <div class="container-fluid">
        <div class="row small-gap justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="instagram-item wow fadeInUp delay-0-1s">
                    <img src="{% static 'core/images/instagram/instagram1.jpg'%}" alt="Instagram">
                    <div class="instagram-hover">
                        <a href="{% static 'core/images/instagram/instagram1.jpg'%}">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="instagram-item wow fadeInUp delay-0-2s">
                    <img src="{% static 'core/images/instagram/instagram2.jpg'%}" alt="Instagram">
                    <div class="instagram-hover">
                        <a href="{% static 'core/images/instagram/instagram2.jpg'%}">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="instagram-item wow fadeInUp delay-0-3s">
                    <img src="{% static 'core/images/instagram/instagram3.jpg'%}" alt="Instagram">
                    <div class="instagram-hover">
                        <a href="{% static 'core/images/instagram/instagram3.jpg'%}">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="instagram-item wow fadeInUp delay-0-4s">
                    <img src="{% static 'core/images/instagram/instagram4.jpg'%}" alt="Instagram">
                    <div class="instagram-hover">
                        <a href="{% static 'core/images/instagram/instagram4.jpg'%}">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="instagram-item wow fadeInUp delay-0-5s">
                    <img src="{% static 'core/images/instagram/instagram5.jpg'%}" alt="Instagram">
                    <div class="instagram-hover">
                        <a href="{% static 'core/images/instagram/instagram5.jpg'%}">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="instagram-item wow fadeInUp delay-0-6s">
                    <img src="{% static 'core/images/instagram/instagram6.jpg'%}" alt="Instagram">
                    <div class="instagram-hover">
                        <a href="{% static 'core/images/instagram/instagram6.jpg'%}">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram Section End -->

{% endblock  %}