{% extends 'base/base.html' %}
{% load static%}
{% block content %}

        <!-- Page Banner Start -->
<section class="hero-section pt-150 rpt-135 pb-75 rel rpb-100 z-1 text-black text-centcer">
    
    <div class="container">
        <div class="banner-inner rpt-10">
            <h2 class="page-title wow fadeInUp text-center delay-0-2s">{{blog.title|truncatechars:65}}</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb wow fadeInUp delay-0-4s">
                    <li class="breadcrumb-item"><a href="{% url 'blogs' %}">Blogs</a></li>
                    <li class="breadcrumb-item active">{{blog.title|truncatechars:65}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <img class="circle-one" src="{% static 'core/images/shapes/circle-one.png' %}" alt="Circle">
    <img class="circle-two" src="{% static 'core/images/shapes/circle-two.png' %}" alt="Circle">
</section>
<!-- Page Banner End -->
        
        <!-- Blog Details Start -->
<section class="blog-details-area py-130 rpy-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-wrap">


                    {% if blog.blog_author == request.user %}
                    <div>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'blog_update' blog.slug %}">Update blog</a>

                        <a type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" id="openModal" href="{% url 'blog_delete' blog.slug %}">Delete blog</a>
                    </div>
                    {% endif %}


                        <div id="modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <form method="POST">
                                {% csrf_token %}
                            <h2>Delete blog</h2>
                            <hr>
                            <p>Are you sure you want to delete "{{ blog.title }}"?</p>
                            <hr>
                            <div class="modal-buttons">
                            <button class="beton closeButton">Close</button>
                            <button type="submit" value="Confirm" class="beton delButton" id="deleteButton">Delete</button>
                            </form>
                            </div>
                        </div>
                        </div>

                    <br>

                    <div class="image mb-25 wow fadeInUp delay-0-2s">
                        <img src="{{blog.blog_image.url}}" alt="Blog">
                        <a href="#"><i class="fas fa-share-alt"></i></a>
                    </div>
                    <ul class="blog-standard-header wow fadeInUp delay-0-2s">
                        <li><span class="name">{{blog.blog_author.get_full_name}}</span></li>
                        <li><i class="far fa-calendar-alt"></i> <a href="blog-details.html">{{blog.published_at}}</a></li>
                    </ul>
                    <h3 class="title">{{blog.title}}</h3>
                    <p>{{blog.content}} </p>

                        <div class="tag-share pt-10">
                        <div class="tag-coulds pb-25">
                            <h6>Tags</h6>
                            <a href="blog.html">Course</a>
                            <a href="blog.html">Design</a>
                            <a href="blog.html">Marketing</a>
                        </div>
                        
                        <div class="social-style-two">
                            <h6>Share :</h6>
                            <a href="contact.html"><i class="fab fa-facebook-f"></i></a>
                            <a href="contact.html"><i class="fab fa-twitter"></i></a>
                            <a href="contact.html"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="admin-comment text-white bg-light-blue p-40 br-10 mt-50 wow fadeInUp delay-0-2s">
                        <div class="comment-body mb-0">
                            <div class="author-thumb">
                                <img src="{% static 'core/images/blog/admin-author.jpg' %}" alt="Image">
                            </div>
                            <div class="content">
                                <h4>Rasalina Wilimson</h4>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atqu corruptie quos dolores et quas molestias excepturi sint</p>
                                <div class="social-style-two">
                                    <a href="contact.html"><i class="fab fa-facebook-f"></i></a>
                                    <a href="contact.html"><i class="fab fa-twitter"></i></a>
                                    <a href="contact.html"><i class="fab fa-instagram"></i></a>
                                    <a href="contact.html"><i class="fab fa-behance"></i></a>
                                    <a href="contact.html"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-nav pt-60 pb-25">
                        <div class="prev-post wow fadeInLeft delay-0-2s">
                            <div class="post-thumb">
                                <a href="blog-details.html"><img src="{% static 'core/images/blog/post-nav-prev.jpg' %}" alt="Image"></a>
                            </div>
                            <div class="content">
                                <h6><a href="blog-details.html">How Deal With Back During Pregn</a></h6>
                                <span><i class="far fa-calendar-alt"></i> 25 May 2022</span>
                            </div>
                        </div>
                        <div class="next-post wow fadeInRight delay-0-2s">
                            <div class="post-thumb">
                                <a href="blog-details.html"><img src="{% static 'core/images/blog/post-nav-next.jpg' %}" alt="Image"></a>
                            </div>
                            <div class="content">
                                <h6><a href="blog-details.html">Online Environme Work Older See</a></h6>
                                <span><i class="far fa-calendar-alt"></i> 25 May 2022</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="comments pt-40 pb-30 wow fadeInUp delay-0-2s">
                        <h4 class="template-title mb-35">Peopel Comments</h4>
                        <ul class="comment-list">
                            <li>
                                <div class="comment-body">
                                    <div class="author-thumb">
                                        <img src="{% static 'core/images/blog/comment-author1.jpg' %}" alt="Image">
                                    </div>
                                    <div class="comment-content">
                                        <div class="name-date">
                                            <h6>John F. Medina</h6>
                                            <span class="comment-date">25 Feb 2022</span>
                                        </div>
                                        <p>Quis autem vel eum iure reprehenderit quin voluptate velit esseeso  quam nihile molestiae consequatur veillum quolore</p>
                                        <a href="#" class="reply-link">Reply <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li>
                                        <div class="comment-body">
                                            <div class="author-thumb">
                                                <img src="{% static 'core/images/blog/comment-author2.jpg' %}" alt="Image">
                                            </div>
                                            <div class="comment-content">
                                                <div class="name-date">
                                                    <h6>Somalia D. Silva</h6>
                                                    <span class="comment-date">25 Feb 2022</span>
                                                </div>
                                                <p>Quis autem vel eum iure reprehenderit quin voluptate velit esseeso  quam nihile molestiae consequatur veillum quolore</p>
                                                <a href="#" class="reply-link">Reply <i class="fas fa-long-arrow-alt-right"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment-body">
                                    <div class="author-thumb">
                                        <img src="{% static 'core/images/blog/comment-author3.jpg' %}" alt="Image">
                                    </div>
                                    <div class="comment-content">
                                        <div class="name-date">
                                            <h6>Roger A. Torrence</h6>
                                            <span class="comment-date">25 Feb 2022</span>
                                        </div>
                                        <p>Quis autem vel eum iure reprehenderit quin voluptate velit esseeso  quam nihile molestiae consequatur veillum quolore</p>
                                        <a href="#" class="reply-link">Reply <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <form id="comment-form" class="comment-form p-50 bg-lighter wow fadeInUp delay-0-2s" name="comment-form" action="#" method="post">
                        <h4>Leave a Message</h4>
                        <p>Have any question? Ready to talk to us! </p>
                        <div class="row mt-25">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="full-name" name="full-name" class="form-control" value="" placeholder="Full Name" required="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" id="blog-email" name="blog-email" class="form-control" value="" placeholder="Email Address" required="">
                                </div>
                            </div>
                            <div class="col-md-12 mb-30">
                                <div class="form-group">
                                    <select name="subject" id="subject">
                                        <option value="Subject">Subject</option>
                                        <option value="Instructors">Instructors</option>
                                        <option value="Pricing">Pricing</option>
                                        <option value="Setting">Setting</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message"><i class="fas fa-pencil-alt"></i></label>
                                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Write Message" required=""></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-0">
                                    <div class="custom-control custom-radio mb-20">
                                        <input type="radio" class="custom-control-input" id="condition" name="privacy" required="">
                                        <label class="custom-control-label" for="condition">I Agree with the trams & conditions</label>
                                    </div> 
                                    <button type="submit" class="theme-btn">Send Message us<i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="blog-sidebar rmt-75">
                    <div class="widget widget-search wow fadeInUp delay-0-2s">
                        <form action="#">
                            <input type="text" placeholder="Search Here" required>
                            <button type="submit" class="searchbutton fa fa-search"></button>
                        </form>
                    </div>
                    <div class="widget widget-about wow fadeInUp delay-0-4s">
                        <div class="image">
                            <img src="{% static 'core/images/widgets/about.jpg' %}" alt="Author">
                        </div>
                        <h4>James D. Thomas</h4>
                        <p>Sit amet consectetur adipiscing elits do eiusmod tempor incididunt ut labore etdol magna aliquas uspensis. </p>
                        <div class="social-style-two">
                            <a href="contact.html"><i class="fab fa-facebook-f"></i></a>
                            <a href="contact.html"><i class="fab fa-twitter"></i></a>
                            <a href="contact.html"><i class="fab fa-linkedin-in"></i></a>
                            <a href="contact.html"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="widget widget-menu wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <ul>{% for cat in category %}
                                <li><a href="blog.html">{{cat.name}} </a> <span>({{cat.category_post.count}})</span></li>
                                {% endfor %}
                            </ul>
                        </ul>
                    </div>
                    <div class="widget widget-recent-courses wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Recent Courses</h4>
                        <ul>
                            {%for blog_item in last_blogs|slice:":4" %}
                            <li>
                                <div class="image">
                                    <img src="{{blog_item.blog_image.url}}" alt="Course">
                                </div>
                                <div class="content">
                                    <h6><a href="{% url 'blog_details' blog_item.slug %}">{{blog_item.title}}</a></h6>
                                    <span>By <a href="course-list.html">{{blog_item.blog_author.first_name}}</a></span>
                                </div>
                                
                            </li>{%endfor%}
                        </ul>
                    </div>
                    <div class="widget widget-tag-cloud wow fadeInUp delay-0-2s">
                        <h4 class="widget-title">Popular Tags</h4>
                        <div class="tag-coulds">
                            <a href="blog.html">Course</a>
                            <a href="blog.html">Design</a>
                            <a href="blog.html">Marketing</a>
                            <a href="blog.html">Life Course</a>
                            <a href="blog.html">Health Course</a>
                            <a href="blog.html">SEO</a>
                            <a href="blog.html">Business</a>
                            <a href="blog.html">Graphics</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details End -->
       

{% endblock  %}