{% extends 'base/base.html' %}
{% load static costum_tags%}
{% block content %}

<br>
<br>
<br>

<div class='container mt-xl-5'>


    <div class="container">
        <form method="POST" enctype="multipart/form-data" class="contact-form p-50 z-1 rel">
           <div class="section-title mb-50">
            {% csrf_token %}
               
               <h2>Create Blog:</h2>
           </div>
           <div class=" mt-25">

                      <div class="col-md-4">
                        <label class="mt-4"  for="{{ form.title.id_for_label }}">Title:</label>
                        {{ form.title }}
                      </div>

                      <div class="col-md-4">
                        <label class="mt-4"  for="{{ form.content.id_for_label }}">Content:</label>
                        {{ form.content }}
                      </div>

                      <div class="col-md-4">
                        <label class="mt-4"  for="{{ form.blog_image.id_for_label }}">Image:</label>
                        {{ form.blog_image }}
                      </div>

                      <div class="col-md-4 ">
                      <label type="date" class="mt-4"  for="{{ form.published_at.id_for_label }}">Published at:</label>

                      {{ form.published_at }}


                    </div>

                      <div class="form-group col-md-4" >
                        <label class="mt-4"  for="{{ form.category.id_for_label }}">Category:</label>
                        {{ form.category }}
                      </div>

                <div class="col-md-4">
                    <div class="form-group mb-0">
                        <button type="submit" class="theme-btn  mt-30"> Create<i class="fas"></i></button>
                    </div>
                </div>
            </div>

        </form>
    </div>


</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}