{% extends 'base/base.html' %}
{% load static costum_tags%}
{% block content %}

<br>
<br>
<br>

<div class='container mt-xl-5'>


    <div class="container">
        <form method="POST" enctype="multipart/form-data" class="contact-form p-50 z-1 rel">
           <div class="section-title mb-50">
            {% csrf_token %}
               
               <h2>Registration:</h2>
           </div>
           
            <div class="row mt-25">
                <div class="col-md-4">
                  
                    <div class="form-group">
                      {{form}}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group mb-0">
                        <button type="submit" class="theme-btn"> Sign up<i class="fas"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}